body{
    background-color: rgb(27, 27, 110);
}

.log-in-box{
    display:flex;
    flex-direction: column;
    color:white;
    border-radius: 40px;
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
    border-color: rgb(5, 5, 70);
}
input{
    height: 40px;
    text-align: center;
    
}
h1{
    display:flex;
    flex-direction: column;
    color: white;
    font-weight: 300;
    text-align: center;
}

#sign-in-btn{
    border-color: rgb(3, 3, 77);   
    background-color: rgb(73, 73, 236);
    align-self:center
}

