body{
    background-color: rgb(47, 47, 185);
}

.log-in-box{
    display:flex;
    flex-direction: column;
    color:white;
    border-radius: 40px;
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
    border-color: rgb(5, 5, 70);
}

input{
    height: 40px;
    text-align: center;
    
}

h1{
    display:flex;
    flex-direction: column;
    color: white;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.txt-input{
    margin-bottom: 5px;    
}

button{
    margin-top: 10px;
    border-color: rgb(3, 3, 77);   
    background-color: rgb(73, 73, 236);
    color:white;
    border-color: blue;
    border-radius:20px;
    align-self:center;
    width:150px;
    height: 70px;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width:200px;
}
#buttons{
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    align-content: center;
}


